node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz

node_modules/
dist/

# Compiled Java class files
*.class

# JetBrains IDE
.idea/

# intellij
*.iml

# Large media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv

# env
.env.development.local
.env.production
.env.production.local
.env.example
.env

# rollup analysis
bundle-analysis.html

# Build
build/

# yarn
yarn.lock
